

:root{
    --cor-de-fundo: #ed81eb;
    --azul: #282ef3;
    --branco: #ffffff;
    --botao-ativo: #3a375e;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}


body{
    
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra petch', sans-serif;
}

.conteudo.principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    
}

